<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fi.metatavu.acgpanel">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name=".PanelApplication"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".DefaultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".device.McuConnectedActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".IdentifyActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".ProductBrowserActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".ProductSelectionActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".MenuActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:launchMode="singleTask"
            android:name=".BasketActivity"
            />
        <activity android:name=".TakeActivity"
            />

        <service
            android:name=".device.McuCommunicationService"
            android:enabled="true"
            android:exported="true"
            />

        <service
            android:name=".ServerSyncService"
            android:enabled="true"
            android:exported="true"
            />

    </application>

</manifest>